*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

.body{
    background-color: black;
}

h3{
    margin: 7px;
    padding: 6px;
    text-decoration: none;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 140%;
}

/*PRIMER PARTE*/  
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.logo{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.logo:hover{
    transform: rotate(400deg);
    transition: all 10s;
}

.containerHeader:hover .containerUno,
.containerHeader:hover .containerDos,
.containerHeader:hover .containerTres,
.containerHeader:hover .containerCuatro,
.containerHeader:hover .containerCinco{
    transform:scale(2)
}

.containerUno{
    transition: all 3s ease-out; 
}

.containerDos{
    transition: all 3s ease-in;
}

.containerTres{
    transition: all 3s ease-in;
}

.containerCuatro{
    transition: all 3s ease-in;
}

.containerCinco{
    transition: all 3s ease-in;
}

header a{
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 125%;
    border: 2px solid white;
    border-radius: 6px;
    width: 60px;

}

header a:hover{
    background-color: white;
    color: black;
}

header nav{
    margin-right: 20px;
}

.fondo{
    margin: 10px;
    padding: 15px;
    width: 200px;
    right: 100px;

}


.fondo img{
    border-radius: 50%;
    border: 2px solid white;
}


.topfive{
    display: flex;
    flex-direction: row;
    justify-content: end;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 90%;
    text-decoration: none;
    margin: 50px;
    padding: 50px;
}

.topfiveH3{
    margin: 5px;
    padding: 5px;
}

.topfive select option{
    height: 20%;
    right: 20%;
    text-align: center;

}

.recomendados{
    display: flex;
    flex-direction: row;
    justify-content: start;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 90%;
    text-decoration: none;
    margin: 50px;
    padding: 50px;
}

.recomendadosH3{
    margin: 5px;
    padding: 5px;
}

.recomendados select option{
    height: 2px;
    right: 2px;
    text-align: center;
    border-radius: 2px solid white;
}

/*SEGUNDA PARTE*/  

.titulo2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 50%;
    border: 0.5px solid white;
    text-decoration: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 200;
    width: 300px;
    right: 300px;
    padding: 90px;
    text-align: center;
    margin-left: 500px;
    animation-name: titulo2;
    animation-duration: 10s;
}   
@keyframes titulo2 {
    0%{background-color: aqua;}
    50%{background-color: white;}
    75%{font-family: Arial, Helvetica, sans-serif;}
    90%{border-radius: 30%;}
    
}

.tresamigos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tresamigosFoto{
    margin-left: 450px;
    padding: 90px;
    width: 40px;
    right: 400px;
}
.tresamigos1 section img{
    animation-name: tresamigosFoto;
    animation-duration: 10s;
}

@keyframes tresamigosFoto {
    20%{border-radius: 70%;}
    50%{border-radius: 30%;}
    70%{border: 3px solid white}
    90%{border-radius: 90%;
  
}
}

/*TERCERA PARTE*/  
.titulo3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 50%;
    border: 0.5px solid white;
    text-decoration: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 200;
    width: 300px;
    right: 300px;
    padding: 90px;
    text-align: center;
    margin-left: 500px;
}

.primerevento{
    display: flex;
    justify-content: left;
    text-align: center;
    margin: 20px;
    padding: 25px;


}
.proximoseventos{
    display: flex;
    justify-content: left;
    align-items: center;
}
.proximoseventos ul a{
    text-decoration: none;
    color: white;
    text-align: center;
    border: solid white 0.5px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 120%;
    width: 300px;
    height: 300px;
    margin: 40px;
    padding: 40px;
    border-radius: 30%;

}

.proximoseventos ul a:hover{
    background-color:white;
    color: black;
}

.segundoevento{
    display: flex;
    justify-content: right;
    text-align: center;
    margin: 20px;
    padding: 25px;
}
.proximos__eventos{
    display: flex;
    justify-content: right;
    align-items: center;
}

.proximos__eventos ul a{
    text-decoration: none;
    color: white;
    text-align: center;
    border: solid white 0.5px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
    width: 300px;
    height: 300px;
    margin: 30px;
    padding: 30px;
    border-radius: 30%;
}

.proximos__eventos ul a:hover{
    background-color:white;
    color: black;
}

/*CUARTA PARTE*/ 

.titulo4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 50%;
    border: 0.5px solid white;
    text-decoration: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 200;
    width: 300px;
    right: 300px;
    padding: 100px;
    text-align: center;
    margin-left: 500px;
}

.packbasico1{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;

}
.packbasico{
    text-align: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    width: 180px;
    right: 180px;
    border-radius: 30%;
    border: 0.5px white solid;
    
}
.pack__basico{
    text-decoration: none;
    text-align: center;
    border: solid white 0.5px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
    width: 120px;
    height: 120px;
    margin: 15px;
    padding: 15px;
    border-radius: 30%;

}
.packintermedio1{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
}
.packintermedio{
    text-align: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    width: 180px;
    right: 180px;
    border-radius: 30%;
    border: 0.5px white solid;
    
}
.pack__intermedio{
    text-decoration: none;
    text-align: center;
    border: solid white 0.5px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
    width: 120px;
    height: 120px;
    margin: 15px;
    padding: 15px;
    border-radius: 30%;
}


.packfull1{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
}
.packfull{
    text-align: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    width: 180px;
    right: 180px;
    border-radius: 30%;
    border: 0.5px white solid;
    
}
.pack__full{
    text-decoration: none;
    text-align: center;
    border: solid white 0.5px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
    width: 120px;
    height: 120px;
    margin: 15px;
    padding: 15px;
    border-radius: 30%;
}

.titulo5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 50%;
    border: 0.5px solid white;
    text-decoration: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 200;
    width: 300px;
    right: 300px;
    padding: 100px;
    text-align: center;
    margin-left: 500px;
}

.imagenmatgeo{
    margin-left: 450px;
    padding: 90px;
    width: 400px;
    right: 400px;
}

.textomatgeo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 200;
    color: white;
}
.setmatgeo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.imagenjcr{
    margin-left: 450px;
    padding: 90px;
    width: 400px;
    right: 400px;
}

.textojcr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 200;
    color: white;
}

.setjcr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.titulo6{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 50%;
    border: 0.5px solid white;
    text-decoration: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 200;
    width: 300px;
    right: 300px;
    padding: 100px;
    text-align: center;
    margin-left: 500px;

}

.texto6{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 300;
    color: white;
    margin: 10px;
    padding: 20px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer img{
    margin: 10px;
    padding: 10px;
    width: 100px;
    right: 100px;
    border-radius: 50%;
    border: 0.5px solid white;
}

/*PROXIMOS EVENTOS*/ 

.bodyproximoseventos{
    background-color: black;
}
.regreso{
    margin: 2px;
    padding: 2px;
    text-decoration: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 150%;
    text-align: right;
}

.h1pe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 50%;
    border: 0.5px solid white;
    text-decoration: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 200;
    width: 300px;
    right: 300px;
    padding: 90px;
    text-align: center;
    margin-left: 500px;
    animation-name: proximoseventos;
    animation-duration: 5s;
}
@keyframes proximoseventos {
    0%{background-color: aqua;}
    50%{background-color: white;}
    75%{font-family: Arial, Helvetica, sans-serif;}
    90%{border-radius: 30%;}
    
}
.h2pe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    margin: 10px;
    padding: 10px;
}
.h2__pe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    margin: 10px;
    padding: 10px;
}

.primerGrid{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    justify-items: center;
    grid-template-areas:
    "videoUno mapaUno";
}

.videoUno{
    grid-area: videoUno;
    margin: 10px;
    padding: 10px;
}

.mapaUno{
    grid-area: mapaUno;
    margin: 10px;
    padding: 10px;
}

.h3pe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    margin: 10px;
    padding: 10px;
}
.h3__pe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    margin: 10px;
    padding: 10px;
}

.segundoGrid{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    justify-items: center;
    grid-template-areas:
    "videoDos mapaDos";
}

.videoDos{
    grid-area: videoDos;
    margin: 10px;
    padding: 10px;

}

.mapaDos{
    grid-area: mapaDos;
    margin: 10px;
    padding: 10px;

}

/*mediaqueries*/
@media only screen and (max-width: 768px){

}

@media only screen and (max-width: 576px) {

*{
    margin: 0;
    padding: 0;
}

.containerHeader{
    display: grid;
    align-items: center;
    grid-template-columns: 2fr;
    grid-template-rows: 4fr;
    grid-template-areas: 
    "logo logo"
    "header1 header2"
    "header3 header4"
    "header5 header5";
}
.logo{
    grid-area: logo;
}
.containerUno{
    grid-area: header1;
} 
.containerDos{
    grid-area: header2;
}
.containerTres{
    grid-area: header3;
}
.containerCuatro{
    grid-area: header4;
}
.containerCinco{
    grid-area: header5;
}
.containerHeader:hover .containerUno,
.containerHeader:hover .containerDos,
.containerHeader:hover .containerTres,
.containerHeader:hover .containerCuatro,
.containerHeader:hover .containerCinco{
    transform:none
}

.fondo img{
    width: 420px;
    height: 350px;
}

.topfive{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    grid-template-areas:
    "topfivespotify"
    "topfiveh3";
}

.topfiveH3{
    grid-area: topfiveH3;
}
.topfivespotify{
    grid-area: topfivespotify;
}

.recomendados{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    grid-template-areas: 
    "recomendadosH3"
    "recomendadossouncloud";
}
.recomendadosH3{
    grid-area: recomendadosH3;
}

.recomendadossouncloud{
    grid-area: recomendadossouncloud;
    width: 150px;
}

.tresamigos1{
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
    align-items: left;
    grid-template-areas: 
    "titulo 2 titulo2"
    "tresamigos tresamigos";
}

.titulo2{
    grid-area: titulo2;
    margin-left: 100px;
    width: 100px;
}

.tresamigos{
    grid-area: tresamigos;
    margin: 10px;
    padding: 10px;
}
.tresamigos1 section img{
    animation-name: tresamigosFoto;
    animation-duration: 20s;
}
@keyframes tresamigosFoto {

        20%{border-radius: 70%;}
        50%{border-radius: 30%;}
        70%{border: 3px solid white}
        90%{border-radius: 90%;
      
        }
}
.tresamigosFoto{
    margin-left: 0;
    padding: 60px;
}

.tresamigosFoto img{
    width: 400px;
    height: 400px;
}

.container3{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 4fr;
    grid-template-areas: 
    "primerevento primerevento"
    "proximoseventos proximoseventos"
    "segundoevento segundoevento"
    "proximoseventos2 proximoseventos2";
}
.primerevento{
    grid-area: primerevento;
}
.proximoseventos{
    grid-area: proximoseventos;
}
.segundoevento{
    grid-area: segundoevento;
}
.proximos__eventos{
    grid-area: proximoseventos2;
    margin: 10px;
    padding: 40px;
}
.titulo3{
    margin-left: 100px;
    width: 100px;
}
.primerevento{
    font-size: 150%;
    width: 200px;

}
.proximoseventos{
    display: flex;
    flex-direction: column;
    font-size: 100%;
    width: 150px;
    margin: 10px;
    padding: 5px;
}
.segundoevento{
    font-size: 150%;
    width: 200px;

}
.proximos__eventos{
    display: flex;
    flex-direction: column;
    font-size: 100%;
    width: 150px;
    margin: 10px;

}
.titulo4{
    margin-left: 100px;
    width: 100px;
}
.packbasico1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-end;
    text-align: center;
    width: 100px;


}
.packbasicotexto{
    font-size: 150%;
    width: 200px;

}
.packbasico{
    font-size: 150%;

}

.pack__basico{
    font-size: 100%;
    background-color:black;
    color: white;
    margin: 50px;

}

.packbasico1 .video1{
    justify-content: left;

}

.packbasico1 .video1{
    width: 290px;
    height: 290px;
    margin: 20px;
    padding: 10px;

}
.packintermedio1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-end;
    text-align: center;
    width: 100px;

}

.packintermediotexto{
    font-size: 150%;
    width: 200px;

}

.packintermedio{
    font-size: 150%;

}
.pack__intermedio{
    font-size: 100%;
    background-color:black;
    color: white;
    margin: 50px;    

}
.packintermedio1 .video2{
    width: 290px;
    height: 290px;
    margin: 20px;
    padding: 10px;

}
.packfull1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-end;
    text-align: center;
    width: 100px;

}
.packfull{
    font-size: 150%;

}
.packfulltexto1{
    font-size: 150%;
    width: 200px;

}
.packfulltexto2{
    font-size: 150%;
    width: 200px;

}

.pack__full{
    font-size: 100%;
    background-color:black;
    color: white;
    margin: 50px;

}

.packfull1 .video3{
    width: 290px;
    height: 290px;
    margin: 20px;
    padding: 10px;

}

.titulo5{
    margin-left: 100px;
    width: 100px;
}

.imagenmatgeo{
    display: flex;
    justify-content: center;
    margin: 40px;
    padding: 40px;
    width: 200px;
    height: 200px;
}

.imagenjcr{
    display: flex;
    justify-items: center;
    justify-content: center;
    margin: 100px;
    padding: 50px;
    width: 200px;
    height: 200px;

}
.titulo6{
    margin-left: 100px;
    width: 100px;
}

.footer img{
    width: 50px;
    height: 30px;
}
/* proximos eventos */
.regreso{
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: rgb(210, 48, 48);
    font-size: 250%;

}
.h1pe{
    width: 250px;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    font-size: 150%;
    animation-name: proximoseventos;
    animation-duration: 5s;
}

@keyframes proximoseventos {
    0% {background-color: #aaa;}
    10% {font-family: Arial, Helvetica, sans-serif;}
    20% {border-radius: 30%;}
    50% {background-color: white;}
    100% {background-color: #aaa;}

}

.primerGrid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.primerGrid .videoUno{
    width: 400px;
    
}

.h2pe{
    font-size: 250%;
}

.h2__pe{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 200%;
}
.h3pe{
    font-size: 250%;
}
.h3__pe{
    align-items: center;
    justify-content: center;
    font-size: 200%;
}
.segundoGrid{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.segundoGrid .videoDos{
    width: 400px;
}
}

